# PHPStan configuration for PHP Quality Tools
# Compatible with PHP 8.1+

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors: []

includes:
  - vendor/nowo-tech/phpstan-frankenphp/extension.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
